.card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 700px;
  text-align: left;
  margin: 0 auto; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

  .card:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3; }
  .card img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block; }
  .card .details {
    position: relative;
    font-family: 'Ubuntu';}
  .card .features {
    list-style: none;
    padding: 0;
    margin: 0; }
    .card .links li {
      padding-left: 24px;
      margin-right: 10px;
      display: inline-block; }
      .card .links li span {
        display: none; }
      .card .features li.icon-bed {
        background: url(../../assets/github.svg) left center;
        background-size: auto 100%;
        background-repeat: no-repeat; }
      