.App {
  text-align: center;
}

.app-bar-button{
  color: '#fff'; 
  text-decoration: 'none';
  font-family: 'Ubuntu';
}

.active-app-bar-button{
  color: '#669999'; 
  text-decoration: 'none';
  font-family: 'Ubuntu';
}

.nav-bar-option:hover{
  color: '#669999' !important;
}

.resume-div {
  background-color: white;
}

.drawer-option:hover {
  color: #669999;
}

.MuiSvgIcon-root {
  color: white !important;
}

@media only screen and (max-width: 600px) {
  .app-bar-button {
    display: none;
  }
}