.App {
  text-align: center;
}

.app-bar-button{
  color: '#fff'; 
  text-decoration: 'none';
  font-family: 'Ubuntu';
}

.active-app-bar-button{
  color: '#669999'; 
  text-decoration: 'none';
  font-family: 'Ubuntu';
}

.nav-bar-option:hover{
  color: '#669999' !important;
}

.resume-div {
  background-color: black;
}

.MuiSvgIcon-root {
  color: white !important;
}

.MuiSvgIcon-root:hover {
  color:  #669999 !important;
}

a.app-bar-button.active:hover {
  color:  #669999 !important;
}

.drawer-button-div {
  display: flex;
  align-items: center;
}

.drawer-button-div:hover {
  color:#669999;
}

.drawer-button-div:hover .MuiSvgIcon-root {
  color: #669999 !important;
}

@media only screen and (max-width: 600px) {
  .app-bar-button {
    display: none;
  }
}